/*General Style Reset*/
html,body{
    overflow: hidden;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
}


/*Helper Class Style*/

.font-w-100{
    font-weight: 100;
}

.font-w-200{
    font-weight: 200;
}

.font-size-xl{
    font-size: 8rem;
}

.color-white{
    color: white;
}

.color-primary{
    color: #193541;
}

.padding-1x{
    padding: 1rem;
}

.padding-h-1x{
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-v-1x{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-h-2x{
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-v-2x{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-2x{
    padding: 2rem;
}

.bg-color-white{
    background-color: white;
}

.text-right{
    text-align: right;
}
/* My stuff */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    width: 100vw;
    /*height: 5vh;*/
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0.25vh 1vw;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}





.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 2.5vh;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 3.5vh;
    font-weight: 500;
    color: #482ff7;
}

/*Construction Section Style*/

.const-msg-container{
    
    background-image: url("../Pictures/Background.jpg"); /*https://www.freepik.com/free-photo/paper-cut-abstract-background-3d-clean-dark-carving-art-paper-craft-black-waves-minimalistic-modern-design-business-presentations_11221103.htm*/
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /*position: absolute;*/
    flex-direction: column;
}

#canvas {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

.const-msg{
    padding: 3rem;
    text-align: right;
    position: absolute;
}

.const-msg .const-text{
    margin-top: 1rem;
}

.under-text{
    display: inline-block;
}

.text-uppercase{
    text-transform: uppercase;
}


/*Socials Links Style*/
.const-msg .socials{
    margin-top: 1rem;
}

.socials .links{
    padding: 0;
    margin-top: 1.5rem;
}

.links li{
    list-style: none;
    margin: 0 0.5rem;
    padding: 0.75rem;
    font-size: 1.75rem;
    /*background-color: white;*/
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border:1px solid white;
    transition: all 0.35s;
    cursor: pointer;
}
.links li:hover{
    background-color: white;
}

.links li a{
    color: white;
}
.links li:hover a{
    color:#193541;
}

/*SVG GEAR*/
/*Credits:Philip Meissner (https://codepen.io/pmeissner/pen/GoaXjP) */

.const-msg .gears{
    padding: 2rem 3.5rem;
}
.const-msg .text{
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
}

.svg-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.svg-icon-large {
    width: 10em;
    height: 10em;
    animation-duration: 6000ms;
    animation-name: spinLeft;
}

.svg-icon-small {
    width: 6em;
    height: 6em;
    position: absolute;
    margin-left: -15px;
    margin-top: -25px;
    animation-duration: 4000ms;
    animation-name: spinRight;
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
    fill: white;
}

.svg-icon-small path {
    stroke: white;
    stroke-width: .3;
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/*Media Queries*/

@media (max-width: 700px) {
    .const-msg-container{
        justify-content: center;
    }
    .const-msg{
        text-align: center;
    }
    .const-msg .text div{
        font-size: 6rem;
    }
}

@media (max-width: 500px) {
    .const-msg .text div{
        font-size: 5rem;
    }
}


/*my stuff*/
@media only screen and (max-width: 1272px) {
    .nav-menu {
        position: fixed;
        left: 0%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .menu-container .nav-menu {
        display: none;
    }
    
    .menu-container:focus-within .nav-menu {
        display: Block;
    }

    .menu-container:focus-within .header {
        height: 100vh;
    }
    .menu-container:focus-within{
        height: 31vh;
    }

    ul.nav-menu {
        padding-inline-start: 0;
    }
    

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}